<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-centre d-flex">
            <strong>Website Name</strong>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
    </div>
</header>






<!-- <div class="card-top container-fluid">
    <div class="container d-flex">

        <div class="item">
            <a>
                <h6>Cricket</h6>
            </a>

        </div>
        <div class="item">
            <a>
                <h6>Chess</h6>
            </a>
            
        </div>
        <div class="item">
            <a>
                <h6>Basketball</h6>
            </a>
            
        </div>
        <div class="item">
            <a>
                <h6>Football</h6>
            </a>
            
        </div>

    </div>
</div> -->

<br>
<br>

<div class="container">

    <h3>Chess Tournaments</h3>
    <br>

    <div class="row">
        <div class="card col-md-3">
            <!-- <img src="https://cdn.pixabay.com/photo/2020/01/26/10/33/chess-4794265__480.jpg" alt="chess image"> -->
            <h5>MIT WPU</h5>
            
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, recusandae. Quos, culpa maxime ipsa nostrum inventore est ut asperiores explicabo laborum hic aspernatur ex distinctio facilis. Ducimus nobis sed, necessitatibus distinctio dolore consectetur. Dolores, aperiam.</p>
            <button class="btn btn-primary">Participate</button>
        </div>

        
    </div>

    <br>
    

    <div class="row">
        <div class="card col-md-3">
            <!-- <img src="https://cdn.pixabay.com/photo/2016/05/31/23/21/badminton-1428047__480.jpg" alt="chess image"> -->
            <h5>COEP</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum iure dicta commodi quasi repellendus ipsam doloribus eveniet sed sapiente similique!</p>
            <button class="btn btn-primary">Participate</button>
        </div>

        
    </div>


</div>